.descriptionbox {
  margin: 30px 170px;

  display: flex;
  flex-direction: column;
  gap: 15px;
  border: 1px solid #d0d0d0;
  border-radius: 5px;
  padding: 45px;
  font-size: 20px;
  text-align: justify;
}

.descriptionbox-description {
  gap: 25px;

  font-size: 20px;
  text-align: justify;
}
