.popular {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: linear-gradient(180deg, #BDCDD6 0%, #EEE9DA 60%);
}
.popular h1{
    color: black;
    font-size: 40px;
    font-weight: 600;
}

.popular-item{
    margin-top: 50px;
    display: flex;
    gap: 100px;
}