.popular {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background: linear-gradient(180deg, #bdcdd6 0%, #eee9da 60%);
}
.popular h1 {
  color: black;
  font-size: 40px;
  font-weight: 600;
}

.popular-item {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: top 50px;
  gap: 50px;
}
